body{
	margin:0;
	background-color: #D8D8D8;
}
header{
	margin-left: 151px;
	margin-right: 151px;
	height: 500px;
	border:1px solid;
}

.logo{
	display: block;
	margin: auto;
	margin-top: 40px;
}
.menu{
	margin-top: 100px;
	background-color: #FFFFFF;
	height: 150px;
}
.button{
	display: inline-block;
	margin-left: 135px;
}
.button:hover{
	border-bottom: 1px solid;
}
.menu img {
	width: 100px;
	height: 30px;
	margin-top: 60px;
	margin-left: 40px;
}
a{
	text-decoration: none;
	color:black;
}